body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 70px;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    padding: 0 70px 40px 70px;
}

button {
    padding: 20px;
    border: 0px;
    border-radius: 20px;
    font-size: 150px;
    background-color: rgb(238, 238, 238);
    transition: background-color 0.2s;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.364);
}


button:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

button:active {
    background-color: rgb(238, 238, 238);
    transform: translateY(2px);
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px 20px 20px;
}

#result, #winner, #score {
    padding: 20px;
    font-size: 20px;
}
